# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [6]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

data_baltimore = pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
data_boston = pd.read_csv("boston_9-24-2016_9-30-2017.csv")
data_Newyork = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
data_philadelphia = pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [9]:
# Clean your data here!
for col in data_baltimore.columns:
    pct_missing = np.mean(data_baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [42]:
drop_df_baltimore = data_baltimore.drop(columns=["Type","Grade","Origin District","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis = 1)

In [39]:
for col in data_boston.columns:
    pct_missing = np.mean(data_boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [43]:
drop_data_boston = data_boston.drop(columns=["Type","Grade","Origin District","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis = 1)

In [45]:
for col in data_Newyork.columns:
    pct_missing = np.mean(data_Newyork[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [46]:
for col in data_philadelphia.columns:
    pct_missing = np.mean(data_philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [29]:
# Combine the four dataframes into one!
northeast_df = pd.concat([data_baltimore,data_boston,data_Newyork,data_philadelphia],axis=0)
northeast_df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [32]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_df_group = northeast_df.groupby(["Unit of Sale"]).mean()
northeast_df_group

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
Unit of Sale,,,,,,,,,,,,,
EACH,NaN,NaN,47.916667,59.166667,47.916667,59.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PER BIN,NaN,NaN,185.845070,206.619718,193.521127,204.859155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SHELLACKED,NaN,NaN,16.000000,17.545455,16.000000,17.545455,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast_avgno_pumpkins = northeast_df.groupby(["Variety"]).mean()
northeast_avgno_pumpkins

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
Variety,,,,,,,,,,,,,
BIG MACK TYPE,NaN,NaN,129.454545,147.272727,137.363636,145.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLUE TYPE,NaN,NaN,260.000000,285.000000,285.000000,285.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CINDERELLA,NaN,NaN,206.051282,220.974359,215.025641,220.974359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FAIRYTALE,NaN,NaN,198.783784,214.108108,208.243243,213.648649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOWDEN TYPE,NaN,NaN,152.834821,177.098214,158.303571,165.290179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOWDEN WHITE TYPE,NaN,NaN,170.000000,180.000000,170.000000,180.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KNUCKLE HEAD,NaN,NaN,238.888889,260.555556,258.333333,260.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MINIATURE,NaN,NaN,16.391753,17.886598,16.453608,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIXED HEIRLOOM VARIETIES,NaN,NaN,210.000000,230.000000,210.000000,230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PIE TYPE,NaN,NaN,133.404040,148.118687,137.459596,142.568182,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!